{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Rate your Favourite Dish</h2>
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'dishes' %}?category={{ c.name }}">
                <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">
                    {{ c.friendly_name}}</span>
            </a>
            {% endfor %}
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'dishes' %}">Dishes Home</a> | </span>
                        {% endif %}
                        {{ dishes|length }} Dishes{% if search_term %} found for <strong>"{{ search_term }}"</strong>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <form action="{% url 'reviews' %}" method="post" class="was-validated" autocomplete="off"
                    id="feedbackform">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-12">
                            <label for="dish-select"> Your Choice of Dish </label>
                            <br>
                            <select id="dish-select" type="dropdown-item" height=100 style="width: 750px" name="test">
                                <option value="" selected>Select a Dish</option>
                                {% for dish in dishes %}
                                <option value="">{{ dish.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row question">
                        <div class="col-12">
                            <p>Rate the Dish</p>
                            <div class="star-rating">
                                <div class="star-input">
                                    <input type="radio" name="rating" id="rating-1" value="I hate it"
                                        onClick="overallRating=this.value;" required>
                                    <label for="rating-1" class="fas fa-star"></label>
                                    <input type="radio" name="rating" id="rating-2" value="I don't like it"
                                        onClick="overallRating=this.value;" required>
                                    <label for="rating-2" class="fas fa-star"></label>
                                    <input type="radio" name="rating" id="rating-3" value="It is good"
                                        onClick="overallRating=this.value;" required>
                                    <label for="rating-3" class="fas fa-star"></label>
                                    <input type="radio" name="rating" id="rating-4" value="I like it"
                                        onClick="overallRating=this.value;" required>
                                    <label for="rating-4" class="fas fa-star"></label>
                                    <input type="radio" name="rating" id="rating-5" value="I love it"
                                        onClick="overallRating=this.value;" required>
                                    <label for="rating-5" class="fas fa-star"></label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row question">
                        <div class="col-12">
                            <label for="textfeedback">comments:</label>
                            <br>
                            <textarea id="textfeedback" name="comments" rows="4" cols="60"></textarea>
                        </div>
                    </div>

                    <div>
                        <span class="rating-reaction"></span>
                        <button type="submit" id="submitBtn" class="submit-rating">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}">
</script>
{% endblock %}