{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Rate your Favourite Dish</h2>
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'dishes' %}?category={{ c.name }}">
                <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">
                    {{ c.friendly_name}}</span>
            </a>
            {% endfor %}
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'dishes' %}">Dishes Home</a> | </span>
                        {% endif %}
                        {{ dishes|length }} Dishes{% if search_term %} found for <strong>"{{ search_term }}"</strong>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <form action="{% url 'reviews' %}" method="POST" class="was-validated" autocomplete="off"
                    id="feedbackform">
                    {% csrf_token %}                   
                    

                    <div class="row question">
                        <div class="col-12">
                           <label for="textfeedback">comments:</label>
                            <br>
                            <textarea name="textfeedback" id="textfeedback" name="comments" rows="4" cols="60"></textarea>
                        </div>
                    </div>

                    <div>
                        <span class="rating-reaction"></span>
                        <button type="submit" id="submitBtn" class="submit-rating">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


 <!-- Subscription model Code taken from ErnesteMajute user from github -->

<div class="container-fluid about-container">
    <div class="row">
        <div class="col-10 mx-auto my-auto text-center">
            <h3 class="logo-font text-center mt-5 text-dark display-6">Subscribe</h3>
            <hr class="w-50 mx-auto mb-4 text-dark">
            <div class="text-center text-dark w-90 mb-5">
                <small>
                    Subscribe for our discount offers, new dishes recipes and best customer deals
                </small>
            </div>
            <form action="{% url 'subscriptions_join' %}" method="POST">
            {% csrf_token %}
                <div class="mb-3">
                    <input type="email" class="form-control text-center rounded-0" id="subscriptions-id"  placeholder="Your Email Address" name="subscription_email" aria-describedby="emailHelp" required>
                </div>
                <!-- Button to submit form -->
                <button type="submit" class="mt-5 mb-5 btn btn-dark rounded-0 btn btn-md  text-uppercase">Submit</button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}


<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}">
</script>
{% endblock %}