<!--===================================================================Footer-->
{% load static %}

<footer class="footer-section bg-black text-light text-center ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 col-md-4">
                <h5 class="text-black" id="aboutus">About us</h5>
                <br>
                <p >Ganga's Biryani is an online food shopping service. Delivery information is provided through phone.
                </p>
            </div>

            <div class="col-12 col-md-4">
                <h5 class="text-black">Social Media</h5>
                <div class="social-links">

                    <ul class="list-inline inline-block">
                        <li class="list-inline-item">
                            <a target="_blank" rel="noopener" href="https://www.facebook.com">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" rel="noopener" href="https://www.twitter.com">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" rel="noopener" href="https://www.pinterest.com">
                                <i class="fab fa-pinterest" aria-hidden="true"></i>
                                <span class="sr-only">LinkedIn</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" rel="noopener" href="https://www.instagram.com">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <h5 class="text-black">Contact Us</h5>
                <div class="phone">
                    <a href="tel:+46777666555">
                        <i class="fas fa-phone-alt" aria-hidden="true"></i> +46 777666555</a>
                </div>
                <div class="email">
                    <a target="_blank" href="mailto:info@thebakingmommy.se">
                        <i class="fas fa-envelope-square" aria-hidden="true"></i> info@gangas.com</a>
                </div>
            </div>
        </div>
    </div>

</footer>